#SearchBox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 60%;
    width: 60%;
}

body {
    background-color: slategray;
}

#wordInputBox {
    border-style: ridge;
    width: 90%;
    height: 90%;
    text-align: justify;
    background: white;
}

.redFont {
    color: red;
}